<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img src="../img/logo.svg" alt="Логотип" class="header__logo-img">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Портфолио</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Цены</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__phone-box">
                <a href="tel:+375251234567" class="header__phone">+375 (25) 123-45-67</a>
                <button class="header__order-call">Заказать звонок</button>
            </div>
            <button type="button" class="header__burger" aria-label="Меню"><span></span></button>
        </div>
    </div>
</header>