<div class="modal modal-gallery">
    <div class="modal__body modal-gallery__body">
        <button class="modal__btn modal-gallery__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M1 1L11 11M11 1L1 11" stroke-linecap="round" />
            </svg>
        </button>
        <div class="modal__content modal-gallery__content">
            <h3 class="modal-gallery__title">@@title</h3>
            <div class="modal-gallery__list">
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-@@imgNumber.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-2.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-3.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-4.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-5.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-6.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-1.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-2.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-3.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-4.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-5.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
                <div class="modal-gallery__item">
                    <img src="../img/gallery-modal-6.jpg" alt="Галерея" class="modal-gallery__img">
                </div>
            </div>
        </div>
    </div>
</div>