<div class="price-list-table">
    <div class="price-list-table__row price-list-table__row--header">
        <div class="price-list-table__cell price-list-table__cell--header">Наименование работ</div>
        <div class="price-list-table__cell price-list-table__cell--header">Ед.измерения</div>
        <div class="price-list-table__cell price-list-table__cell--header">Цена от, руб</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Штукатурка по маякам</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">10</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Установка и демонтаж маяка</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">2</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Штукатурка потолка по плоскости</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">5</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж армирующей сетки</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">2</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж ГКЛ (ровный)</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">10</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж конструкций ГКЛ короб</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">10</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж конструкций ГКЛ со скрытой подсветкой
        </div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">12</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж криволинейного потолочного откоса</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">12</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Финишное шлифование и зачистка потолка</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">4</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Проклейка швов серпянкой</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">3</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж подвесного потолка «Грильято»</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">10</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж подвесного потолка «Армстронг»</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">8</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж пластиковых панелей на потолке</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">10</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Монтаж натяжного потолка (с материалом)</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">16</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Поклейка декоративного багета (галтель)</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">44</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Подготовка конструкции короб ГКЛ к покраске
        </div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">4</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Выравнивание балок одна плоскость</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">5</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Установка перфорированного угла</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">2</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Шлифовка</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">2</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Заделка стыков ГКЛ, проклейка ленты</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">2</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Покраска потолка</div>
        <div class="price-list-table__cell price-list-table__cell--body">м²</div>
        <div class="price-list-table__cell price-list-table__cell--body">3</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Покраска конструкций ГКЛ</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">3</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Окраска , полиуретанового потолочного плинтуса
        </div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">2</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Оклейка потолочного плинтуса пенопласт</div>
        <div class="price-list-table__cell price-list-table__cell--body">м.пог</div>
        <div class="price-list-table__cell price-list-table__cell--body">5</div>
    </div>
    <div class="price-list-table__row price-list-table__row--body">
        <div class="price-list-table__cell price-list-table__cell--body">Грунтовка</div>
        <div class="price-list-table__cell price-list-table__cell--body"></div>
        <div class="price-list-table__cell price-list-table__cell--body"></div>
    </div>
</div>